.customers__list {
  display: none;
  justify-content: center;
  padding-bottom: 94px;
}

.customers__item {
  & + & {
    margin-left: 30px;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: $icons-color;
  transition: fill $transition, border-color $transition;
  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}